@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Volkhov:700');

html{
    height: 100%;
}
body{
    margin: 0 3%;
    min-height: 100%;
    background: #916749;
    /* overflow: hidden; */
}

#container{
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 50% 50%;
    grid-template-rows: 40% 28% 28% 4%;
    grid-template-areas: 
        "title map"
        "topBrew map"
        "brews brews"
        "toolbar toolbar";
}

#title{
    grid-area: title;
    margin: 50px 0 0 0;
    font-family: Volkhov;
    font-weight: bold;
    line-height: 130%;
    font-size: 5.5vw;
    letter-spacing: 0.1em;
    color: #F4F4F6;  
    font-variant: small-caps;
}

#title::first-line{
    font-size: 11vw;
    
}

#map{
    grid-area: map;
    justify-self: center;
    align-self: center;
}

#topBrew{
    grid-area: topBrew;
    align-self: center;
    font-family: Montserrat;
    font-size: 4vw;
    font-weight: bold;
    letter-spacing: 0.1em;
    line-height: 87px;
    text-align: left;
}

#topBrew::first-line{
    font-size: 5vw;
}

#brews{
    list-style-type: none;
    display: inline-block;
    overflow-x: auto;
    grid-area: brews;
    font-size: 2vw;
    font-weight: bold;
    letter-spacing: 0.1em;
    line-height: 87px;
    margin: 0 5%;
}

/* .brew{
    width: 500px;
    height: auto;
    text-align: right;
    white-space: nowrap;
} */

#toolbar{
    grid-area: toolbar;
    margin: auto;
}