@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Volkhov:700');

html{
    height: 100%;
}
body{
    margin: 0;
    min-height: 100%;
    background: #916749;
}

#container{
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 60% 40%;
    grid-template-rows: 33% 33% 33%;
    grid-template-areas: 
        "title map"
        "topBrew map"
        "brews brews";
}

#title{
    grid-area: title;
    margin: 50px 0 0 15px;
    font-family: Volkhov;
    font-weight: bold;
    line-height: 130%;
    font-size: 6.92vw;
    letter-spacing: 0.1em;
    color: #F4F4F6;  
}

#title::first-line{
    font-size: 9.2vw;
}

#topBrew{
    grid-area: topBrew;
    align-self: center;
    font-family: Montserrat;
    font-size: 4vw;
    font-weight: bold;
    letter-spacing: 0.1em;
    line-height: 87px;
    text-align: right;
}

#topBrew::first-line{
    font-size: 5vw;
}

#brews{
    display: flex;
    grid-area: brews;
    font-size: 2vw;
    font-weight: bold;
    letter-spacing: 0.1em;
    line-height: 87px;
}

.brew{
    margin: 0 50px;
    width: 600px;
    height: auto;
    text-align: right;
    white-space: nowrap;
}

#map{
    grid-area: map;
    justify-self: center;
    align-self: center;
}